*.pyc
build/
__pycache__/
*.c
examples/*.p
examples/*.tmp
MANIFEST
dist/
doc/source/_build/
.coverage
files-*.python*
g2tools.todo
nose-uncovered.py
yyy*
xxx*
git-instructions
*.sublime-*
doc/html/_static/dialog-todo.png
doc/latex/
tmp/
